.entertask {
  width: 100%;
}
/* .css-v4u5dn-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid #0e1f31;
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #0e1f31 !important;
} */
