.bg-tasklist {
  width: 50%;
  margin: auto;
  margin-top: 2%;
  height: 50%;
  min-height: 500px;
  min-width: 300px;
}
.bg-entertask {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  height: 10%;
  min-height: 100px;
  min-width: 300px;
}
